@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  font-family: Cormorant SC;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0px;
  font-size: 20px;
}

.header {
  background: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header .headline {
  width: 100%;
  max-width: 700px;
  margin-bottom: 30px;
}
.header .line {
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}
.header .name {
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}
.header p {
  margin-bottom: 10px;
  font-weight: 600;
}
.header .p-one {
  font-size: 25px;
  text-transform: uppercase;
}

.profile {
  background: url(../img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -250px;
}
.profile .hello {
  width: 100%;
  max-width: 300px;
  margin-bottom: 0px;
  display: block;
}
.profile .name1 {
  padding: 20px 0px;
  width: 100%;
  max-width: 500px;
}
.profile .thaythai {
  width: 100%;
  max-width: 90%;
  margin: auto;
  margin-top: 50px;
}
.experence {
  background: #ffe6b3;
  padding: 30px 0px;
  text-align: center;
}
.experence .ic1 {
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  padding: 10px;
  min-height: 300px;
  border-radius: 10px;
}
.experence .ic1 p {
  margin-top: 20px;
  font-weight: 600;
}
.achievement {
  background: url(../img/bg3.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0px;
  text-align: center;
}
.achievement h4 {
  font-size: 50px;
  color: white;
  margin-bottom: 30px;
}
.achievement .content {
  padding: 20px 25px;
  background: #bf8b3b;
  color: white;
  border-radius: 20px;
  min-height: 470px;
  margin-bottom: 20px;
}
.achievement .content img {
  margin: 10px 0px;
}

.future {
  background-color: #fbf9ed;
  padding: 50px 0px;
  text-align: center;
}
.future .headline2 {
  width: 100%;
  max-width: 1000px;
  margin: 20px 0px;
}
.activity {
  background: url(../img/bg4.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0px;
  text-align: center;
  background-position: center;
  background-color: #fbf9ed;
}
.activity .activity-title {
  font-size: 50px;
  color: #747068;
}
.activity .item img {
  padding: 20px;
  border-radius: 20px;
  background-color: #bf8b3b;
  margin-right: 20px;
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 20px;
}
.activity .item p {
  font-size: 26px;
}
.everday {
  background: #e3cea9;
  padding: 50px 0px;
  text-align: center;
}
.everday .headline3 {
  width: 100%;
  max-width: 400px;
  margin: 0px auto 20px;
}
.event {
  background-image: url("../img/bg5.png"),
    linear-gradient(90deg, #bf8b3b 56.68%, rgba(191, 139, 59, 0.2) 101.69%);
  padding: 50px 0px;
  text-align: center;
}
.event h4 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  text-align: left;
}
.event p {
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
  text-align: justify;
}
.event img {
  width: 100%;
  max-width: 400px;
  margin: auto;
}
.event .button__event {
  margin-top: 20px;
  text-align: left;
}
.event .button__event:hover a {
  background-color: #bf8b3b;
  color: white;
  border: 1px solid white;
}
.event .button__event a {
  padding: 10px 50px;
  font-size: 20px;
  color: #bf8b3b;
  background-color: white;
  border-radius: 20px;
  border: 2px solid #bf8b3b;
  transition: 0.5s;
}
.footer {
  background-color: #2a2a2a;
  padding: 30px 0px;
  text-align: center;
}
.footer img {
  width: 100%;
  max-width: 300px;
  padding-bottom: 20px;
}
.footer .text-contact {
  margin: 20px 0px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
}
.footer .input-search {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.footer .input-search input {
  outline: none;
  box-shadow: none;
  border: none;
}
.footer .input-search input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.footer .input-search p {
  color: white;
  font-size: 20px;
  background: #bf8b3b;
  line-height: 30px;
  padding: 5px 20px;
}
.footer .icon-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.footer .icon-contact i {
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 18px;
  border: 1px solid #bf8b3b;
  border-radius: 1000rem;
}
.footer .icon-contact i:hover {
  background-color: #bf8b3b;
}

/* hide pc */
.hide-pc {
  display: none;
}

@media (max-width: 600px) {
  .header {
    padding: 80px 10px;
    height: auto;
  }
  .profile {
    margin-top: -330px;
    background-position: -10px 0px;
  }
  .achievement .content {
    min-height: unset;
  }
  .show-mb {
    display: block;
  }
  .hide-mb {
    display: none;
  }
  .activity .activity-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .activity .item p {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
  }
  .event {
    background-image: url(../img/bg5.png),
      linear-gradient(90deg, #bf8b3b 100%, rgba(191, 139, 59, 0.9) 101.69%);
  }
  .event h4 {
    font-size: 30px;
  }
  .event img {
    margin-top: 50px;
  }
  .profile .hello {
    padding: 300px 0px 0px 0px;
    margin: auto;
  }
}
